*{
	padding: 0px;
	margin: 0px;
}
html,body{
	height: 100%;
}
.header{
	width: 100%;
	height: 36px;
	background-color: #343434;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
	text-indent: 18px;
	position:fixed;
	top: 0px; 
}

.dish_list{
	height: calc(100vh - 96px);
	overflow:auto;
	padding:36px 0 60px 0;
}

.dish_list_title{
	font-size: 16px;
	font-weight: bold;
	background-color: #ffffff;
	color: #656565;
	padding: 8px 0;
	text-align: center;
	border-bottom: 4px solid #ffd562;
	
}
.dishes_item{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:16px 0;
}

.dishes_item .dishes_title,.dishes_price{
	width: calc(100% / 3);
	text-align: center;
}
.dishes_title{
	font-size: 16px;
	color: #000;
}
.dishes_price{
	color: red;
}
/* 添加到购物车 */
/* 按钮样式 */
.add_dish{
	width: 18px;
	height: 18px;
	background-color: #ffca60;
	border-radius: 50px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	margin-right: 8px;
}
/* 底部购物车 */
.gouwuche{
	width: 100%;
	height: 40px;
	background-color: #343434;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.gouwuche .tijiao_dingdan{
	width: 120px;
	height: 40px;
	background-color: #666666;
	color:#fff;
	text-align: center;
	line-height: 40px;
}
.gouwuche .tijiao_dingdan_canclick{
	background-color: #ffca60;	
	color:#000;
}
.gouwuche .button{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #666666;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: -11px;
	left: 8px;
}
.gouwuche .buttonhave{
	background-color: #ffca60;
}
.button img{
	width: 24px;
}
.gouwuche .total_price{
	font-size: 24px;
	color: #666666;	
	text-align: right;
	padding-right: 16px;	
}
.gouwuche .total_price_more{
	color: #ffca60;
}

.button .dish_number{
	top: -4px;
	right: -4px;
	position: absolute;
	min-width: 16px;
	min-height:16px;
	background-color: red;
	color:#fff;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	display: none;
}
.button .dish_number_show{
	display: block;
}
/* 购物车 */
.editdish_list_container{
	position: absolute;
	width: 100%;
	background-color: rgba( 0, 0, 0, 0);
	top: 0px;
	height: 100vh;
	z-index: 900;
	display: none;
	flex-direction:column;
	justify-content: flex-end;
	transition: all 500ms;
}
.editdish_list_containershow{
	display: flex;
}
.editdish_list_bg{
	background-color: rgba( 0, 0, 0, 0.7);	
}
.editdish_list_container_title{
	width: 100%;
	background-color: #f3f3f3;
	text-align: right;
	color: #626262;
	text-indent: 14px;
	font-weight: lighter;
	height: 32px;
	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.editdish_list_container_title img{
	width: 16px;
	height: 16px;
}
.editdish_list_container_title span{
	padding-right: 8px;
}
.editdish_list{
	width: 100%;
	background-color: #ffffff;
	padding-bottom: 40px;
	max-height: 0;
	overflow-y: auto;
	transition: all 800ms;
}
.editdish_list_show{
	max-height: 40vh;
}
.editdish_list .editdish_item{
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 45px;
	line-height: 45px;
}
.editdish_list .editdish_item .delate_dish{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: inherit;
	border:1px solid #c7c7c7;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
	color:#c6c6c6;
	flex-grow:0;
	margin: 0 4px;
}
.editdish_list .editdish_item .editdish_title{
	color: #222222;
	flex-grow: 1;
	line-height: initial;
	padding-left: 9px;
}
.editdish_list .editdish_item .editdish_price{
	color: #383838;
	flex-grow:0;
	padding-right: 18px;
}
.editdish_list .editdish_item .editdish_number{
	margin:0 4px 0 0;
}

/* .haomacontainer{
	width: 60%;
	margin: 0 auto;
	border: 3px dotted #666666;
} */
.haomacontainer {

	width: 50%;
  
	height: 180px;
  
	display: block;
  
	padding: 10px;
  
	position: relative;
  
	background: radial-gradient( transparent 0px, transparent 4px, white 4px, white );
  
	background-size: 20px 20px;
  
	background-position: -10px -10px;
	margin:0 auto;


  }
  .haomacontainer div{
	text-align: center;	  
	font-size: 72px;
	line-height: 180px;
  }
  .haomacontainer::before{
	  content: '您的号码牌:';
	  position: absolute;	  
	  top: -20px;
  }
  .haomacontainer:after {
  
	content: '';
  
	position: absolute;
  
	left: 5px;
  
	top: 5px;
  
	right: 5px;
  
	bottom: 5px;
  
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  
	z-index: -1;
  
  }
  footer{
	  text-align: center;
	  position: absolute;
	  bottom: 16px;
	  width: 100%;
  }